@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Inventory List</h3>
<br/>
<ViewInventoriesComponent
    OnSearchInventories="OnSearchInventories">
</ViewInventoriesComponent>
<br/>

@if (_listInventories != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var inventory in this._listInventories)
        {
            <InventoryItemComponent Inventory="inventory"></InventoryItemComponent>
        }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>

@code {

    private List<Inventory>? _listInventories;

    private void OnSearchInventories(List<Inventory> inventories)
    {
        _listInventories = inventories;
    }

    protected override async Task OnInitializedAsync()
    {
        _listInventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addInventory");
    }

}