<div class="form-group">
    <label>Inventories</label>
    <ViewInventoriesComponent DisplaySearchResult="true" OnSelectInventory="OnSelectInventory"></ViewInventoriesComponent>
</div>

@if (ProductInventories != null && ProductInventories.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var proInv in ProductInventories)
        {
            <tr>
                <td>
                    @proInv.Inventory?.InventoryName &nbsp;
                </td>

                <td>
                    <input type="number" min="0" max="@proInv.Inventory?.Quantity"
                           @bind-value="@proInv.InventoryQuantity"/>
                </td>

                <td>
                    <button class="btn btn-link" type="button"
                            @onclick="@(() => RemoveInventory(proInv))">
                        Remove
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {

    public List<ProductInventory> ProductInventories = new List<ProductInventory>();

    private void OnSelectInventory(Inventory inventory)
    {
        if (!ProductInventories.Any(x => x.Inventory != null && x.Inventory.InventoryName.Equals(inventory.InventoryName, StringComparison.OrdinalIgnoreCase)))
        {
            ProductInventories.Add(new ProductInventory { InventoryId = inventory.InventoryId, Inventory = inventory });
        }
    }

    private void RemoveInventory(ProductInventory productInventory)
    {
        ProductInventories.Remove(productInventory);
    }

}